
#headone{
    text-align: center;
    background-color: #eee4e4;
}
.sky_1{
    background-color: #2A84C5;
    margin: 0%;
    padding: 6px;
    color: white;
}
.sky_2{
    background-color: #2A92D0;
    margin: 0%;
    padding: 6px;
    color: white;
}
.sky_3{
    background-color: #4d96c0;
    margin: 0%;
    padding: 6px;
    color: white;
}
.sky_4{
    background-color: #1B9DD8;
    margin: 0%;
    padding: 6px;
    color: white;
}
.sky_5{
    background-color: #36A9DF;
    margin: 0%;
    padding: 6px;
    color: white;
}
.sky_6{
    background-color:  #6FC1EB;
    margin: 0%;
    padding: 6px;
    color: white;
}
.sky_7{
    background-color: #8ECAEE;
    margin: 0%;
    padding: 6px;
    color: white;
}
.green{
    background-color: #1AB585;
    margin: 0%;
    padding: 6px;
    color: white;
}
.pink_1{
    background-color: #F5B1CF;
    margin: 0%;
    padding: 6px;
    color: white;
}
.pink_2{
    background-color: #F5BEC2;
    margin: 0%;
    padding: 6px;
    color:  white  ;
}
.pink_3{
    background-color:  #F28CB4;
    margin: 0%;
    padding: 6px;
    color: white;
}
.pink_4{
    background-color:  #F179A6;
    margin: 0%;
    padding: 6px;
    color: white;
}
.pink_5{
    background-color: #F16A97;
    margin: 0%;
    padding: 6px;
    color: white;
}
.pink_6{
    background-color:#F0588B ;
    margin: 0%;
    padding: 6px;
    color: white;
}
.pink_7{
    background-color:#EE337F ;
    margin: 0%;
    padding: 6px;
    color: white;
}